.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
Thesis Code.Rproj
articles/
Polling Data/
articles.lnk
01_credentials.R
all_data.RData
factiva_data_candidate_articles.xlsx
.RDataTmp
analyses/JITP-Replication-Final/
analyses/deu_news_2021-10K/
00_failed_attempts.R
01_scraping_FAZ.R
