.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
*.tmp
.httr-oauth
.DS_Store
Thesis Code.Rproj
articles/
Polling Data/
articles.lnk
01_credentials.R
all_data.RData
factiva_data_candidate_articles.xlsx
.RDataTmp
analyses/JITP-Replication-Final/
analyses/deu_news_2021-10K/
00_failed_attempts.R
01_scraping_FAZ.R
.RDataTmp1
RT_searches/
articles/
rt_archive/
RT_searches/
sitemaps/
test/
test*
ignore/
.gitignore
00_connect_DB_RT.R
99_queries.R
99_main.R
99_documentation_RT_DB.Rmd
99_documentation_RT_DB.docx
99_from_saved.R