deu_news_2021_10K
JCR170299.R1.zip
Rauh_SentDictionaryGerman.Rdata
Rauh_SentDictionaryGerman_Negation.Rdata
SentiWS.txt
SentiWS_v2.0_Negative.txt
SentiWS_v2.0_Positive.txt
corpora.RData
corpora_tokenized.RData
dyw098_supp.zip
sentiment_results.RData
